absl-py==2.2.2
accelerate==0.21.0
aenum==3.1.16
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
airio @ git+https://github.com/google/airio@7feb9ddc2083dd219ffa947901cf61de9132a28a
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
aqtp==0.8.4
array_record==0.7.2
astroid==2.9.3
asttokens==3.0.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.3.0
babel==2.17.0
bcc==0.18.0
bcrypt==5.0.0
beautifulsoup4==4.10.0
best-download==0.0.9
bitsandbytes==0.43.3
blendmodes==2022
blinker==1.9.0
boto3==1.38.9
botocore==1.38.9
Brlapi==0.8.3
cached-property==2.0.1
cachetools==5.5.2
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.2
chex==0.1.89
chrome-gnome-shell==0.0.0
clean-fid==0.1.35
click==8.3.0
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256=b5842c25da441d6c581b53a5c60e0c2127ebafe0f746f8e15561a006c6c3be6a
cloudpickle==3.1.1
clu @ git+https://github.com/google/CommonLoopUtils@949e50380a67c934f1d10bcf241cb0c56d369289
colorama==0.4.4
coloredlogs==15.0.1
colorlog==6.9.0
command-not-found==0.3
contourpy==1.3.2
courlan==1.3.2
cryptography==3.4.8
cssselect2==0.8.0
cupshelpers==1.0
cycler==0.12.1
DataProperty==1.1.0
dateparser==1.2.1
dbus-python==1.2.18
decorator==5.2.1
defer==1.0.6
defusedxml==0.7.1
deprecation==2.1.0
depth_anything @ https://github.com/huchenlei/Depth-Anything/releases/download/v1.0.0/depth_anything-2024.1.22.0-py2.py3-none-any.whl#sha256=26c1d38b8c3c306b4a2197d725a4b989ff65f7ebcf4fb5a96a1b6db7fbd56780
depth_anything_v2 @ https://github.com/MackinationsAi/UDAV2-ControlNet/releases/download/v1.0.0/depth_anything_v2-2024.7.1.0-py2.py3-none-any.whl#sha256=6848128867d1f7c7519d88df0f88bfab89100dc5225259c4d7cb90325c308c9f
diffusers @ git+https://github.com/huggingface/diffusers@1cdb8723b85f1b427031e390e0bd0bebfe92454e
diskcache==5.6.3
distro==1.7.0
DLLogger @ git+https://github.com/NVIDIA/dllogger@0478734ff7be75adde8d160e04872664d1c62e5f
dm-tree==0.1.9
docstring_parser==0.16
docutils==0.17.1
editdistance==0.8.1
einops==0.4.1
embreex==2.17.7.post6
etils==1.12.2
exceptiongroup==1.2.2
executing==2.2.0
facexlib==0.3.0
fastapi==0.104.1
fasttext==0.9.2
ffmpy==0.5.0
fiddle==0.3.0
filelock==3.13.1
filetype==1.2.0
filterpy==1.4.5
fire==0.7.0
Flask==3.1.2
Flask-Bcrypt==1.0.1
flatbuffers==25.2.10
flax @ git+https://github.com/google/flax@6770f73ffbe5ed638b262e3d10d7a3721519f2a8
flaxformer @ git+https://github.com/google/flaxformer@399ea3a85e9807ada653fd0de1a9de627eb0acde
fonttools==4.57.0
freetype-py==2.5.1
frozenlist==1.7.0
fsspec==2024.6.1
ftfy==6.3.1
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.6.0
gdown==4.5.3
gguf==0.17.1
gin-config==0.5.0
gitdb==4.0.12
GitPython==3.1.32
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-storage==3.1.1
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gpg==1.16.0
gradio==4.40.0
gradio_client==1.2.0
gradio_imageslider==0.0.20
gradio_rangeslider==0.0.6
grain==0.2.0
graphviz==0.21
groovy==0.1.2
grpcio==1.71.0
gyp==0.1
h11==0.12.0
h5py==3.14.0
handrefinerportable @ https://github.com/huchenlei/HandRefinerPortable/releases/download/v1.0.1/handrefinerportable-2024.2.12.0-py2.py3-none-any.whl#sha256=1e6c702905919f4c49bcb2db7b20d334e8458a7555cd57630600584ec38ca6a9
hf-xet==1.2.0
hidpidaemon==18.4.6
html5lib==1.1
htmldate==1.9.3
httpcore==0.15.0
httplib2==0.20.2
httpx==0.24.1
huggingface_hub==1.2.3
humanfriendly==10.0
humanize==4.12.3
idna==3.7
imageio==2.37.0
immutabledict==4.2.1
importlib-metadata==4.6.4
importlib_resources==6.5.2
inflection==0.5.1
iniconfig==2.1.0
iopath==0.1.9
ipdb==0.13.9
ipython==8.37.0
isort==5.6.4
itsdangerous==2.2.0
jax==0.6.2
jax-cuda12-pjrt==0.6.2
jax-cuda12-plugin==0.6.2
jaxlib==0.6.2
jaxtyping==0.3.2
jedi==0.18.0
jeepney==0.7.1
jestimator @ git+https://github.com/google-research/jestimator@326824a477feef6d92e6f44175000907a72899ca
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.5.0
jsonlines==4.0.0
jsonmerge==1.8.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jusText==3.0.2
keras==3.10.0
keras-nightly==3.10.0.dev2025062603
kernelstub==3.1.4
keyring==23.5.0
kiwisolver==1.4.8
kornia==0.6.7
language-selector==0.1
lark==1.1.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==0.0.0
lazy_loader==0.4
libclang==18.1.1
libcomps==0.1.15
libcst==1.8.2
lightning-utilities==0.15.2
llvmlite==0.44.0
lm-dataformat==0.0.20
loadimg==0.1.2
logilab-common==1.8.2
louis==3.20.0
lxml==6.0.2
macaroonbakery==1.3.1
-e git+https://github.com/magenta/magenta-realtime.git@d079588dff062964af1bb2a47edfac3e39a6ee24#egg=magenta_rt
manifold3d==3.2.1
mapbox_earcut==1.0.3
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.1
matplotlib-inline==0.1.7
mbstrdecoder==1.1.4
mccabe==0.6.1
mdurl==0.1.2
mediapipe==0.10.21
mesh-tensorflow==0.1.21
ml_collections==1.1.0
ml_dtypes==0.5.1
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
mypy==0.942
mypy-extensions==0.4.3
namex==0.1.0
nest-asyncio==1.6.0
netaddr==0.8.0
netifaces==0.11.0
networkx==3.3
nltk==3.9.1
numba==0.61.2
numpy==1.26.2
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvcc-cu12==12.9.86
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvshmem-cu12==3.2.5
nvidia-nvtx-cu12==12.6.77
oauthlib==3.2.0
olefile==0.46
ollama==0.5.1
omegaconf==2.2.3
onnxruntime==1.23.0
open-clip-torch==2.20.0
opencv-contrib-python==4.11.0.86
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optax @ git+https://github.com/deepmind/optax@2ccc464dd498fe5f2259528e2ed21894b1bfd5ce
optree==0.16.0
orbax-checkpoint==0.11.16
orjson==3.10.18
packaging==25.0
pandas==2.2.3
parso==0.8.1
PasteDeploy==3.1.0
pathvalidate==2.5.2
peft==0.12.0
pexpect==4.9.0
piexif==1.1.3
Pillow==9.5.0
pillow-avif-plugin==1.4.3
pillow_heif==0.22.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==2.5.1
pluggy==1.6.0
pop-transition==1.1.2
portalocker==3.2.0
promise==2.3
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==4.25.8
psutil==5.9.5
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.11
pybboxes==0.1.6
pybind11==2.13.6
pycairo==1.20.1
pycollada==0.9.2
pycparser==2.22
pycups==2.0.1
pydantic==2.8.2
pydantic_core==2.20.1
pydbus==0.6.0
pydub==0.25.1
pyglove==0.4.4
Pygments==2.19.1
PyGObject==3.42.1
PyJWT==2.3.0
pylint==2.12.2
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyRFC3339==1.1
pyserial==3.5
pysimdjson==5.0.2
PySocks==1.7.1
pytablewriter==0.64.2
pytest==8.4.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.1.0
python-gnupg==0.4.8
python-multipart==0.0.20
python-xlib==0.29
pytorch-lightning==1.9.4
pytz==2025.2
PyWavelets==1.8.0
pyxdg==0.27
PyYAML==5.4.1
referencing==0.36.2
regex==2024.11.6
rehash==1.0.1
repolib==2.2.1
repoman==1.4.0
reportlab==4.4.4
requests==2.25.1
requests-toolbelt==1.0.0
resampy==0.4.3
resize-right==0.0.2
rich==14.0.0
rlPyCairo==0.4.0
roboflow==1.1.63
roman==3.3
rouge_score==0.1.2
rpds-py==0.27.1
rpm==4.17.0
rsa==4.9.1
rtree==1.4.1
ruff==0.11.8
s3transfer==0.12.0
sacrebleu==2.5.1
safehttpx==0.1.6
safetensors==0.4.2
sahi==0.11.23
scikit-image==0.21.0
scikit-learn==1.6.1
scipy==1.15.2
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
semantic-version==2.10.0
Send2Trash==1.8.1b0
sentencepiece==0.2.0
seqio @ git+https://github.com/google/seqio@49213270cc20aaafaa06814502aad655d9275936
seqio-nightly==0.0.18.dev20250227
sessioninstaller==0.0.0
shapely==2.1.0
shellingham==1.5.4
simple-parsing==0.1.7
simplejson==3.20.1
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.2
soundfile==0.13.1
soupsieve==2.3.1
spandrel==0.3.4
spandrel_extra_arches==0.1.1
ssh-import-id==5.11
sshuttle==1.0.5
stack-data==0.6.3
starlette==0.27.0
supervision==0.23.0
svg.path==7.0
svglib==1.6.0
sympy==1.13.3
systemd-python==234
t5==0.9.4
t5x @ git+https://github.com/google-research/t5x.git@92c5b467a5964d06c351c7eae4aa4bcd341c7ded
tabledata==1.3.4
tabulate==0.9.0
tb-nightly==2.19.0a20250218
tcolorpy==0.1.7
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-datasets==4.9.9
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.2
tensorflow-text==2.19.0
tensorflow-text-nightly==2.20.0.dev20250317
tensorflow_cpu==2.19.0
tensorstore==0.1.75
termcolor==3.1.0
terminaltables==3.1.10
tf-hub-nightly==0.17.0.dev202506230306
tf2jax==0.3.7
tf_keras-nightly==2.20.0.dev2025062209
tf_nightly==2.20.0.dev20250619
tfds-nightly==4.9.2.dev202308090034
thonny==3.3.14
thop==0.1.1.post2209072238
threadpoolctl==3.6.0
tifffile==2025.5.10
timm==1.0.15
tinycss2==1.4.0
tld==0.13.1
tokenizers==0.19.1
tomesd==0.1.3
toml==0.10.2
tomli==1.2.2
tomlkit==0.12.0
toolz==1.0.0
torch==2.7.0
torchaudio==2.7.0
torchdiffeq==0.2.3
torchmetrics==1.8.2
torchsde==0.2.6
torchvision==0.22.0
tqdm==4.66.1
trafilatura==2.0.0
traitlets==5.14.3
trampoline==0.1.2
transformers==4.44.0
treescope==0.1.9
trimesh==4.8.3
triton==3.3.0
typed-ast==1.4.3
typepy==1.3.4
typer==0.15.3
typer-slim==0.21.0
types-aiofiles==0.1
types-annoy==1.17
types-appdirs==1.4
types-atomicwrites==1.4
types-aws-xray-sdk==2.8
types-babel==2.9
types-backports-abc==0.5
types-backports.ssl-match-hostname==3.7
types-beautifulsoup4==4.10
types-bleach==4.1
types-boto==2.49
types-braintree==4.11
types-cachetools==4.2
types-caldav==0.8
types-certifi==2020.4
types-characteristic==14.3
types-chardet==4.0
types-click==7.1
types-click-spinner==0.1
types-colorama==0.4
types-commonmark==0.9
types-contextvars==0.1
types-croniter==1.0
types-cryptography==3.3
types-dataclasses==0.1
types-dateparser==1.0
types-DateTimeRange==0.1
types-decorator==0.1
types-Deprecated==1.2
types-docopt==0.6
types-docutils==0.17
types-editdistance==0.5
types-emoji==1.2
types-entrypoints==0.3
types-enum34==1.1
types-filelock==3.2
types-first==2.0
types-Flask==1.1
types-freezegun==1.1
types-frozendict==0.1
types-futures==3.3
types-html5lib==1.1
types-httplib2==0.19
types-humanfriendly==9.2
types-ipaddress==1.0
types-itsdangerous==1.1
types-JACK-Client==0.1
types-Jinja2==2.11
types-jmespath==0.10
types-jsonschema==3.2
types-Markdown==3.3
types-MarkupSafe==1.1
types-mock==4.0
types-mypy-extensions==0.4
types-mysqlclient==2.0
types-oauthlib==3.1
types-orjson==3.6
types-paramiko==2.7
types-Pillow==8.3
types-polib==1.1
types-prettytable==2.1
types-protobuf==3.17
types-psutil==5.8
types-psycopg2==2.9
types-pyaudio==0.2
types-pycurl==0.1
types-pyfarmhash==0.2
types-Pygments==2.9
types-PyMySQL==1.0
types-pyOpenSSL==20.0
types-pyRFC3339==0.1
types-pysftp==0.2
types-pytest-lazy-fixture==0.6
types-python-dateutil==2.8
types-python-gflags==3.1
types-python-nmap==0.6
types-python-slugify==5.0
types-pytz==2021.1
types-pyvmomi==7.0
types-PyYAML==5.4
types-redis==3.5
types-requests==2.25
types-retry==0.9
types-selenium==3.141
types-Send2Trash==1.8
types-setuptools==57.4
types-simplejson==3.17
types-singledispatch==3.7
types-six==1.16
types-slumber==0.7
types-stripe==2.59
types-tabulate==0.8
types-termcolor==1.1
types-toml==0.10
types-toposort==1.6
types-ttkthemes==3.2
types-typed-ast==1.4
types-tzlocal==0.1
types-ujson==0.1
types-vobject==0.9
types-waitress==0.1
types-Werkzeug==1.0
types-xxhash==2.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
ujson==5.10.0
ultralytics==8.3.127
ultralytics-thop==2.0.14
urllib3==2.4.0
urwid==2.1.2
uvicorn==0.34.2
vboxapi==1.0
vhacdx==0.0.8.post2
wadler_lindig==0.1.7
wadllib==1.3.6
wcwidth==0.2.13
webencodings==0.5.1
websockets==12.0
Werkzeug==3.1.3
wget==3.2
wrapt==1.13.3
xdg==5
xkit==0.0.0
xxhash==3.5.0
yacs==0.1.8
yarl==1.20.1
yolov5==7.0.13
zipp==1.0.0
zstandard==0.23.0
